/* 전체 너비 조정 */
/* body {
    width: 100%;
    overflow-x: hidden;
} */
/* 전체 묶음 */
.all {position: relative;}
/* 헤더 상단 15% 팝업 */
.all .pop_top {width: 100%; height: 40px; text-align: center; 
    background-color: #000; padding: 10px 0; }
/* 데스크탑, 태블릿용 */
.all .pop_top .pop_all {}
.all .pop_top .pop_all a {color:#fff; font-size: 0.75rem; margin-left: 10px; letter-spacing: 0.2px; display: inline-block;} /* 폰트 적용 후 자간 조절 */
.all .pop_top .pop_all a .fa-chevron-right {font-size: 0.5rem;}
.all .pop_top .pop_all a em {color: #ff4800; font-size: 0.75rem; letter-spacing: 0.2px;}
/* 모바일전용 */
.all .pop_top .pop_mobile {display: none;}
.all .pop_top .pop_mobile p {}
.all .pop_top .pop_mobile p img {}
.all .pop_top .pop_mobile p span {}
/* 모바일 위로가기, 채팅 버튼 */
.all .pop_btn {display: none;}
.all .pop_btn #go_top_btn {}
.all .pop_btn #go_top_btn img {}
.all .pop_btn #chat_btn {}
.all .pop_btn #chat_btn img {}
/* 모바일 전용 앱설치 쿠폰 팝업 */
.all .m_coupon_bg {display: none;}
.all .m_coupon_bg .m_coupon {}
.all .m_coupon_bg .m_coupon h2 {}
.all .m_coupon_bg .m_coupon p {}
.all .m_coupon_bg .m_coupon p img {}
.all .m_coupon_bg .m_coupon a {}
/* 모바일 전용 하단 메뉴 */
.all .m_menu {display: none;}
.all .m_menu a {}
.all .m_menu a span {}
/* 헤더 */
.all header {
    width: 100%; height: 263px; margin: 0 auto;
    padding: 0 50px;
}
/* 헤더 1행 로고 + 개인메뉴 */
/* 로고 */
.all header .header_top {
    display: flex; justify-content: space-between; align-items: center;
    height: 78px; margin-bottom: 10px;
    /* background-color: aqua; margin-bottom: 20px; */
}
.all header .header_top h1 {}
.all header .header_top h1 a {}
.all header .header_top h1 a img {width: 90px;}
/* 개인메뉴- 데스크탑 */
.all header .header_top .user_menu {
    display: flex;
}
.all header .header_top .user_menu a {
    display: flex; 
}
.all header .header_top .user_menu a::before {
    content:'';
    display: inline-block;
    background-image: url(../images/main/sp_29cm.png);
    background-size: 200px;
    width: 17px; height: 17px;
    margin-right: 5px;
}
.all header .header_top .user_menu a:nth-child(1):before {
    background-position: 0 -1px;
}
.all header .header_top .user_menu a:nth-child(2):before {
    background-position: -25px 0;
}
.all header .header_top .user_menu a:nth-child(3):before {
    background-position: -50px 0;
}
.all header .header_top .user_menu a:nth-child(4):before {
    background-position: -75px 0;
}
.all header .header_top .user_menu a span {
    display: flex; align-items: center; padding-top: 3px;
    margin-right: 10px; font-family: "capton_l"; font-size: 0.563rem;
    color: #5d5d5d; letter-spacing: 0.5px;
}
/* 개인메뉴 - 태블릿, 모바일 */
.all header .header_top .m_user_menu {display: none;}
.all header .header_top .m_user_menu a {
    /* background-image: url(../images/main/sp_29cm.png); */
    background-color: black;
}
/* 헤더 2행 메뉴 2행 + 검색 */
/* 메뉴 2행 */
.all header .header_center {
    display: flex; justify-content: space-between;
    /* background-color: bisque; */
    margin-bottom: 20px;
    width: 100%;
}
.all header .header_center .post {}
.all header .header_center .post a {font-size: 2.5rem; margin-right: 20px; }
.all header .header_center .post a:last-child {margin-right: 0;}
/* 검색 */
.all header .header_center .search {
    /* background-color: antiquewhite; */
    /* width: 100%; */
}
/* 검색 아이콘- 펼치기 전 */
.all header .header_center .search #search_open_btn {
    display: block;
    background-image: url(../images/main/sp_29cm.png); background-size: 200px;
    background-position: -76px -25px;
    width: 47px; height: 47px;
}
/* 검색창 + 인기검색어 - 펼쳐진 창 */
/* 배경 */
.all header .header_center .search #search_open_page {
    position: fixed; z-index: 999;
    left: 0; top: 0; width: 100%; height: 100vh;
    background: rgba(255, 255, 255, 0.7);
    display: none;
}
/* 검색창 */
.all header .header_center .search #search_open_page {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100vh; z-index: 100;
    /* display: none; */
    text-align: right;
}
.all header .header_center .search #search_open_page #back_search_btn {}
.all header .header_center .search #search_open_page #search_keywords {}
.all header .header_center .search #search_open_page #search_keywords #search_frm {background-color: bisque;}
.all header .header_center .search #search_open_page #search_keywords #search_frm fieldset {}
.all header .header_center .search #search_open_page #search_keywords #search_frm fieldset .search_bar {
    color: #ff4800;
}
.all header .header_center .search #search_open_page #search_keywords #search_frm fieldset .search_btn {
    /* background-image: url(../images/main/sp_29cm.png); */
    background-color: black;
}

/* 인기검색어 */
.all header .header_center .search #search_open_page #search_keywords .keywords {background-color: #ff4800;}
.all header .header_center .search #search_open_page #search_keywords .keywords .keywords_title {font-size: 1.5rem;}
.all header .header_center .search #search_open_page #search_keywords .keywords .keywords_contents {
}
.all header .header_center .search #search_open_page #search_keywords .keywords .keywords_contents a {
    display: block;
}
/* 헤더 3행 네비게이션 메뉴 */
.all header .header_btm {
    /* background-color: chartreuse; */
    display: flex; 
    padding: 10px 0;
}
.all header .header_btm .gnb {
    position: relative;
    display: flex;
    /* background-color: aqua; */
}
.all header .header_btm .gnb li {
    margin-right: 20px;}
/* .all header .header_btm .gnb li:last-child {margin-right: 0;} */
.all header .header_btm .gnb li > a {}
/* 메뉴 열린 부분 */
/* depth1 */
.all header .header_btm .gnb li .lnb_depth1 {display: none;}
.all header .header_btm .gnb li .lnb_depth1 ul {}
.all header .header_btm .gnb li .lnb_depth1 ul li {}
.all header .header_btm .gnb li .lnb_depth1 ul li > a {}
/* depth2 */
.all header .header_btm .gnb li .lnb_depth1 ul li .lnb_depth2 {display: none;}
.all header .header_btm .gnb li .lnb_depth1 ul li .lnb_depth2 li {}
.all header .header_btm .gnb li .lnb_depth1 ul li .lnb_depth2 li a {}
/* 네비 이벤트박스 */
/* 이미지, 이벤트 이름*/
.all header .header_btm .gnb li .event_box {display: none;}
.all header .header_btm .gnb li .event_box .event_top {}
.all header .header_btm .gnb li .event_box .event_top .event_img {}
.all header .header_btm .gnb li .event_box .event_top .event_img img {}
.all header .header_btm .gnb li .event_box .event_top .event_name {}
/* 이미지 전체보기 버튼 */
.all header .header_btm .gnb li .event_box .event_btm {}
.all header .header_btm .gnb li .event_box .event_btm span {}
.all header .header_btm .gnb li .event_box .event_btm img {}
/* 이벤트, 룩북 메뉴 */
.all header .header_btm .event_lookbook {
    display: flex;
    /* background-color: chartreuse; */
}
.all header .header_btm .event_lookbook::before {
    content:''; display: inline-block;
    width: 1px; height:20px; background-color: #a0a0a0;
}
.all header .header_btm .event_lookbook a {
    display: inline-block;
    margin-left: 20px; color: #a0a0a0;
    font-family:"capton_l"; font-size: 0.875rem;
    font-style: italic;
}
/* 푸터 */
.all footer {
    width: 100%; padding: 0 40px; margin-top: 180px;
    /* background-color: aqua; */
}
/* 푸터 1행 */
.all footer .voc {
    padding: 20px 0;
    display: flex; justify-content: space-between;
    position: relative;
}
/* 고객센터 정보 */
.all footer .voc_left {}
.all footer .voc_left p {font-size: 0.75rem; margin-bottom: 5px;}
.all footer .voc_left p:nth-child(2) {font-size: 0.75rem; font-family: "capton_l";}
.all footer .voc_left #tel {font-size: 0.938rem;}
.all footer .voc_left .voc_btn {
    display: flex;
}
.all footer .voc_left .voc_btn a {
    background-color: #303033; padding: 10px 25px; margin-right: 10px;
    display: block;
}
.all footer .voc_left .voc_btn a span {font-size: 0.938rem; color: #fff;}
.all footer .voc_left .voc_btn a img {}
/* 미디어 바로가기 */
.all footer .voc_right {
    position: absolute; right: 0; bottom: 10px;
}
.all footer .voc_right a {}
.all footer .voc_right a img {
    width: 30px;
}
/* 푸터 2행 */
.all footer .fnb {
    display: flex; justify-content: space-between;
    border-top: 1px solid #e4e4e4;
    padding: 20px 0;
}
.all footer .fnb dl {
    margin-left: 20px;
}
.all footer .fnb dl:first-child {margin-left: 0;}
.all footer .fnb dl .fnb_title {
    font-size: 0.813rem;
    margin-bottom: 15px;
}
.all footer .fnb dl .fnb_contents {}
.all footer .fnb dl .fnb_contents > a {
    display: block; font-size: 0.75rem;
    font-family: "capton_l";
    margin-bottom: 10px;
}
.all footer .fnb .right {display: flex;}
.all footer .fnb .right dl {}
.all footer .fnb .right dl .fnb_title {font-size: 0.813rem;}
.all footer .fnb .right dl .fnb_contents {}
.all footer .fnb .right dl .fnb_contents a {
    font-size: 0.75rem; margin-bottom: 10px;
}
/* 푸터 3행 */
.all footer .law_address {
    border-top: 1px solid #e4e4e4;
    padding: 15px 0 50px;
}
.all footer .law_address .laws {}
.all footer .law_address .laws a {
    font-size: 0.75rem;
    margin-right: 5px;
}
.all footer .law_address .laws a:first-child:after {
    content:''; display: inline-block;
    width: 1px; height: 11px;px; background-color: #a0a0a0;
    margin: 0 10px 0 7px; 
}
.all footer .law_address .laws a:last-child {margin-right:0;}
.all footer .law_address .btm {
    display: flex; justify-content: space-between;
}
.all footer .law_address .btm address {
    font-size: 0.625rem; line-height: 2.5;
    color: #5d5d5d; font-family: "capton_l";
}
.all footer .law_address .btm address a {
    font-size: 0.625rem; color: #fff; 
    background-color: #a4a4a4; padding: 5px 7px; margin-left: 10px;
}
.all footer .law_address .btm .btm_right {
    color: #999; line-height: 16px; font-size: 0.688rem;
    width: 90px; padding-right: 20px; font-family: "capton_l"
}