main {}
/* 로그인 전체 묶음 */
main .login_wrap {
    background-color: aqua; width: 50%; margin: 0 auto;
}
main .login_wrap #login_frm {}
main .login_wrap #login_frm fieldset {}
/* 제목 */
main .login_wrap #login_frm fieldset h1 {
    font-size: 2.75rem; font-weight: 700;
    text-align: center;
    padding-bottom: 20px; border-bottom: 4px solid #000;
}
/* 아이디, 비번 입력창 / 로그인버튼 */
main .login_wrap #login_frm fieldset .login_container {
    
}
main .login_wrap #login_frm fieldset .login_container .login_input {border: 1px solid #d4d4d4; margin-bottom: 20px;}
/* 입력창 전체 */
main .login_wrap #login_frm fieldset .login_container .login_input input {display: block}
main .login_wrap #login_frm fieldset .login_container .login_input input::placeholder {font-size: 0.875rem;}
/* 입력창 개별 */
main .login_wrap #login_frm fieldset .login_container .login_input #user_id {margin-bottom: 10px;}
main .login_wrap #login_frm fieldset .login_container .login_input #user_pw {}
main .login_wrap #login_frm fieldset .login_container .login_btn_wrap {}
main .login_wrap #login_frm fieldset .login_container .login_btn_wrap #login_btn {
    color: #fff; background-color: #000;
    width: 100%; font-weight: 600; padding: 15px;
}
/* SNS 계정 로그인 -- 전체*/
main .login_wrap #login_frm fieldset .sns_login_wrap {}
main .login_wrap #login_frm fieldset .sns_login_wrap h2 {}
main .login_wrap #login_frm fieldset .sns_login_wrap .sns_login {}
main .login_wrap #login_frm fieldset .sns_login_wrap .sns_login a {}
/* SNS 계정 로그인 -- SNS 개별*/
main .login_wrap #login_frm fieldset .sns_login_wrap .sns_login a[title*=kakao] {}
main .login_wrap #login_frm fieldset .sns_login_wrap .sns_login a[title*=naver] {}
main .login_wrap #login_frm fieldset .sns_login_wrap .sns_login a[title*=facebook] {}
main .login_wrap #login_frm fieldset .sns_login_wrap .sns_login a[title*=apple] {}
/* 회원가입 */
main .login_wrap #login_frm fieldset .join_wrap {}
main .login_wrap #login_frm fieldset .join_wrap p {font-size: 0.813rem;}
main .login_wrap #login_frm fieldset .join_wrap p a {font-size: 0.813rem;}
main .login_wrap #login_frm fieldset .join_wrap #join_btn {
    font-size: 0.875rem;
}
/* 아이디, 비밀번호 찾기 --- 전체 */
main .login_wrap #login_frm fieldset .search {}
main .login_wrap #login_frm fieldset .search a {
    font-size: 0.75rem;
}
/* 아이디, 비밀번호 찾기 --- 개별 */
main .login_wrap #login_frm fieldset .search a:nth-child(1) {}
main .login_wrap #login_frm fieldset .search a:nth-child(2) {}
main .login_wrap #login_frm fieldset .search a:nth-child(3) {}